{% load static %}<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <title>Vernetzte Welten Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link media="all" rel="stylesheet" href="{% static 'css/app.css' %}" />
</head>
<body>
{% comment %} 
  <div class="container" id="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="index.html">Vernetzte Welten</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link" href="index.html#programm">Programm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html#partner">Partner</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html#greenspot">Austausch und Ergebnisse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html#blackspot">Bisherige Programme</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </nav>
  </div> {% endcomment %}

  {% csrf_token %}
  <div id="app"
    :session="{{ session }}"
    :room="{{ room }}"
    :countries="{{ countries }}"
    >
  </div>
  {% if not debug %}
    <script src="{% static 'js/chunk-vendors.js' %}"></script>
  {% endif %}
  <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
